extends layouts/login-layout.pug

block content
    .loginContainer 
        h1 Register
        form(action="", method="post", onSubmit="event.preventDefault();validateForm()")
            input(type="text", name="username", placeholder="Username", required="")
            input(type="text", name="firstName", placeholder="First Name", required="")
            input(type="text", name="LastName", placeholder="Last Name", required="")
            input(type="email", id="email", name="email", placeholder="Email Address", required="")
            input(type="email", id="confirmEmail", name="confirmEmail", placeholder="Confirm Email Address", required="")
            input(type="password", name="password", id="password", placeholder="Password", required="")
            input(type="password", name="confirmPassword",id="confirmPassword", placeholder="Confirm Password", required="")
            span(id="passwordWarning" class="warningToggle") Whoops! Passwords do Not match 
            span(id="emailWarning" class="warningToggle")  Whoops! Emails did Not match
            input(type="submit", placeholder="Join the Neighborhood!", value="register")
        a(href="/") Already have an account?

        script.
            let passwordText=document.querySelector('#password')
            let confirmPasswordText=document.querySelector('#confirmPassword')
            let emailText=document.querySelector('#email')
            let confirmEmailText=document.querySelector('#confirmEmail')
            let passwordWarning = document.querySelector('#passwordWarning')
            let emailWarning = document.querySelector('#emailWarning')
            let form = document.querySelector('.loginContainer')

            function validateForm(){
                passwordWarning.classList.add("warningToggle")
                emailWarning.classList.add("warningToggle")
                
                if (passwordText.value!==confirmPasswordText.value||emailText.value!==confirmEmailText.value){                                
                    if (passwordText.value!==confirmPasswordText.value){
                        passwordWarning.classList.remove("warningToggle")
                        console.log('password error!')
                    }
                    if (emailText.value!==confirmEmailText.value){//while both fields contain writing
                        emailWarning.classList.remove("warningToggle")
                        console.log('email error!')
                    }
                } else {
                    form.submit()
                }
            }
            