* {
    --blue: rgb(49, 116, 240);
    --blueLight: #9bd1f9;
    --blueBackground: rgba(212, 237, 255, 0.6);
    --buttonHoverbg: #d4edff;
    --grayLight: rgb(230, 236, 240);
    --spacing: 1rem;
    --grayText: rgb(101, 119, 134);
    --grayButtonText: rgba(0, 0, 0, 0.34);
    --red: rgb(226, 34, 94);
}
ul{
    margin:0;
}
.row {
    margin: 0;
    height: 100%;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    h1 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }

    a {
        color: inherit;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;

        a {
            display: flex;
            padding: 10px;
            font-size: 2rem;
            width: 3.7rem;
            height: 3.7rem;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            color: #212529;

            &.blue {
                color: var(--blue);
            }

            &:hover {
                color: var(--blue);
                background-color: var(--buttonHoverbg);
                text-decoration: none;
                border-radius: 8px;
            }
        }
    }

    .mainSectionContainer {
        display: flex;
        flex-direction: column;
        padding: 0;
        border-left: solid 1px var(--grayLight);
        border-right: solid 1px var(--grayLight);

        .titleContainer {
            height: 3rem;
            padding: 0 var(--spacing);
            border-bottom: solid 1px var(--grayLight);
            border-top: solid 1px var(--grayLight);
            display: flex;
            flex-direction: row;
            flex-shrink: 0;

            h1 {
                flex: 1;
                margin: 0.7rem 0;
            }

            a {
                margin-top: 0.5rem;
            }
        }
    }

    .postFormContainer {
        display: flex;
        padding: var(--spacing);
        border-bottom: 10px solid rgb(230, 236, 240);
        flex-shrink: 0;

        .userImageContainer {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                border-radius: 50%;
                background-color: white;
            }
        }

        .textareaContainer {
            flex: 1;
            padding-left: var(--spacing);

            textarea {
                width: 100%;
                border: none;
                resize: none;
                font-size: 1.1rem;
            }

            .buttonsContainer {
                #submitPostButton {
                    background: var(--blue);
                    color: white;
                    border: none;
                    border-radius: 40px;
                    padding: 0.5rem 1rem;

                    &:disabled {
                        background-color: var(--blueLight);
                    }
                }
            }
        }
    }

    #replyModal {
        padding: 0;

        .modal-dialog {
            .modal-header {
                span {
                    font-weight: bolder;
                    font-size: 2rem;
                }
            }

            .modal-content {
                .modal-body {
                    #originalPostContainer {
                        .post {
                            padding: 0;
                            padding-bottom: var(--spacing)
                        }
                    }

                    .postFormContainer {
                        border-bottom: none;
                        padding: 0;
                        padding-top: var(--spacing)
                    }
                }
            }
        }
    }
}

.profileHeaderContainer {
    margin-bottom: 0.7rem;

    .coverPhotoSection {
        height: 30vh;
        background-color: var(--blue);

        .coverPhotoContainer {
            height: 100%;
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: relative;
            }

            .coverPhotoButton {
                position: absolute;
                font-size: 3rem;
                color: rgba(0, 0, 0, 0.6);
                background-color: transparent;
                border: none;
                display: none;
                bottom: 1rem;
            }

            &:hover {
                .coverPhotoButton {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .userImageContainer {
            position: absolute;
            width: 10%;
            height: 10%;


            img {
                width: 12.8rem;
                height: 12.8rem;
                border-radius: 100px;
                margin-left: var(--spacing);
                position: relative;
                border: 4px solid #fff;
                bottom: 10rem;

            }

            .profilePictureButton {
                position: relative;
                margin-left: 5.5rem;
                bottom: 42vh;
                font-size: 3rem;
                color: rgba(0, 0, 0, 0.6);
                background-color: transparent;
                border: none;
                display: none;
            }

            &:hover {
                .profilePictureButton {
                    display: block;
                }
            }
        }
    }

    .profileButtonsContainer {
        text-align: right;
        padding: var(--spacing);
        min-height: 4rem;

        .profileButton,
        .followButton {
            background-color: transparent;
            border: 1px solid var(--blue);
            color: var(--blue);
            font-weight: bold;
            padding: 0.5rem 1rem;
            border-radius: 60px;
            display: inline-block;
            margin-left: var(--spacing);

            &:hover {
                color: var(--blue);
                background-color: var(--blueBackground);
                text-decoration: none;

            }
        }

        .followButton.following {
            background-color: var(--blue);
            color: #fff;
        }
    }

    .userDetailContainer {
        display: flex;
        flex-direction: column;
        padding: 0 var(--spacing);

        .displayName {
            font-weight: bolder;
            font-size: 1.3rem;
        }

        .username {
            font-size: 1rem;
            // font-weight: bold;
            color: color(--grayText);
        }

        .followersContainer {
            color: color(--grayText);

            * {
                text-decoration: none;
            }

            a {
                margin-right: 1rem;

                span {
                    display: inline-block;

                    &:hover {
                        border-bottom: solid 1px rgba(161, 161, 161, 0.651);
                    }
                }
            }

            .value {
                font-weight: bold;
                margin-right: 0.5rem;
                color: var(--blue);
            }
        }
    }

}

.tabsContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--grayLight);
    flex-shrink: 0;

    .tab {
        flex: 1;
        height: 3.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--grayText);
        font-weight: bold;

        &:hover {
            color: var(--blue);
            background: var(--blueBackground);
        }

        &.active {
            color: var(--blue);
            border-bottom: 2px solid var(--blue);
        }

        a {
            span {
                text-align: center
            }
        }
    }
}

.pinnedContainer {
    border-bottom: 2rem solid rgba(173, 216, 230, 0.288);
}

.resultsContainer {
    display: flex;
    flex-direction: column;

    .user {
        padding: var(--spacing);
        display: flex;
        border-bottom: 1px solid var(--grayLight);
        flex-direction: row;

        .userDetailContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            padding: 0 var(--spacing);
        }
    }
}

.followButton {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);

    &:hover {
        color: var(--blue);
        background-color: var(--blueBackground);
        text-decoration: none;

    }
}

.followButton.following {
    background-color: var(--blue);
    color: #fff;
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--grayLight);
    flex-shrink: 0;

    button {
        padding: 0 1.2rem;
        padding-top: 0.25rem;
        background-color: transparent;
        border: none;
        color: var(--grayButtonText);

        * {
            text-align: center;
        }

        &.pinButton.pinned {
            color: rgb(0, 141, 206);
            background-color: rgba(213, 252, 216, 0.24);
            border: solid 0.5px green;
            border-radius: 20px;
        }

        &:hover {
            background-color: #d4edff;
            border-radius: 20px;
            color: rgb(39, 85, 184);
            // transform: scale(1.1)
        }

        i,
        span {
            pointer-events: none
        }
    }

    &.postFocus {
        background-color: rgb(245, 251, 255);
        border: 2px solid rgb(117, 179, 175);

        box-shadow: 12px 10px 20px rgba(136, 223, 118, 0.13);
    }

    .postActionContainer {
        * {
            color: var(--grayText);
        }

        padding-left: 2rem;
        font-size:0.8rem;
        margin-bottom: 0.2rem;
        font-weight: 500;
    }

    .mainContentContainer {
        flex: 1;
        display: flex;

        .userImageContainer {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                border-radius: 50%;
                background-color: white;
            }
        }

        .postContentContainer {
            padding-left: var(--spacing);
            display: flex;
            flex-direction: column;
            flex: 1;

            .header {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;

                @media (max-width:27rem) {
                    flex-direction: column;
                    align-items: flex-end;
                    .displayName{
                        position: relative;
                        width: 100%;
                        text-align: left;
                    }
                    .creatorButtons{
                        position: relative;
                        top: 1rem;
                    }
                    .username,.date{
                        position: relative;
                        top: -1.25rem;
                    }
                }

                * {
                    padding-right: 0.5rem;
                }

                .displayName {
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .username,
                .date {
                    font-size: 0.92rem;
                    color: var(--grayText)
                }

                .date {
                    flex: 1;
                }

                .creatorButtons {
                    padding: 0;

                    // @media (max-width:27rem) {
                    //     position: absolute;
                    // }

                    .deleteButton {
                        padding: 0;

                        &:hover {
                            color: black;
                            background-color: var(--grayLight);
                        }

                        i {
                            width: 1rem;
                            height: 1rem;
                            margin: 0rem 0.5rem;
                        }
                    }
                }
            }
            .postBody{
                @media (max-width:27rem) {
                    position: relative;
                    display: block;
                    width: fill;
                    text-align: left;
                    margin: 2rem 0;

                    span{
                        vertical-align: middle;
                    }
                }

            }

            .postFooter {
                display: flex;
                align-items: center;

                .postButtonContainer {
                    flex: 1;
                    display: flex;
                    align-items: flex-start;

                    &.red {
                        button.active {
                            color: red;
                        }
                    }

                    &.green {
                        button.active {
                            color: rgb(102, 177, 85);
                            border-radius: 20px;
                        }
                    }

                }
            }
        }

    }
}

//usable all over the place
.userImageContainer {
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        border-radius: 50%;
        background-color: white;
    }
}

.userDetailContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);

    .displayName {
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .username {
        font-size: 1rem;
        // font-weight: bold;
        color: color(--grayText);
    }

    .followersContainer {
        color: color(--grayText);

        * {
            text-decoration: none;
        }

        a {
            margin-right: 1rem;

            span {
                display: inline-block;

                &:hover {
                    border-bottom: solid 1px rgba(161, 161, 161, 0.651);
                }
            }
        }

        .value {
            font-weight: bold;
            margin-right: 0.5rem;
            color: var(--blue);
        }
    }
}

#imagePreview,
#coverPreview {
    display: block;
    max-width: 100%;
    width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    padding: 0 1.2rem;
    padding-top: 0.25rem;
    background-color: transparent;
    border: none;
    color: var(--grayButtonText);
}

//search Page

.searchBarContainer {
    position: relative;
    color: var(--grayText);
    padding: 10px 1rem;

    i {
        position: absolute;
        top: 1.2rem;
        left: 1.5rem;
    }

    #searchBox {
        font-weight: 500;
        height: 2rem;
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 50px;
        background-color: var(--grayLight);
        color: var(--grayText)
    }
}

//inbox page

.resultsContainer {
    .resultListItem {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid var(--grayLight);

        &:hover {
            background-color: #F2F2F2;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        .resultsImageContainer {
            height: 2.1rem;
            width: 2.1rem;
            position: relative;
            margin-right: 0.6rem;
            display: flex;
            align-items: center;

            &.groupChatImage {
                display: block;
                position: relative;
                height: 3rem;
                width: 3rem;
                padding: 0;
                bottom: 0;
                margin: 0;
                margin-top: 1rem;

                img {
                    height: 2.3rem;
                    width: 2.3rem;
                    border-radius: 50%;
                    position: relative;
                    border: 3px solid #fff;
                    right: 0.25rem;

                    &:first-of-Type {
                        position: absolute;
                        top: -1rem;
                        right: 0.2rem;
                        height: 2.3rem;
                        width: 2.3rem;
                    }
                }

            }
        }

        .resultsDetailsContainer {
            display: flex;
            flex-direction: column;
            flex: 1;

            .heading {
                font-weight: 500;
            }

            .subText {
                color: var(--grayText);
                font-size: 0.9rem;
            }
        }

    }
}

//newChat page
.chatPageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 0;
    flex: 1;

    .chatTitleBar {
        border-bottom: 1px solid var(--lightGrey);
        display: flex;
        align-items: center;
        min-height: 4rem;
        padding: 0.7rem;


        label {
            margin-top: 0.6rem;
            margin-right: 0.7rem;
        }

        #userSearchTextBox {
            border: none;
            flex: 1;
            font-weight: 200;
            min-width: 21rem;
        }

        #selectedUsers {
            .selectedUser {
                font-weight: 300;
                background-color: #CBE5FE;
                color: #0084ff;
                padding: 0.2rem;
                border-radius: 0.2rem;
                margin: 0.2rem 0.2rem 0 0;
                display: inline-block;
            }
        }
    }

    .resultsContainer {
        * {
            &:hover {
                cursor: pointer;
            }

            margin: 0.3rem 0;
        }
    }

    #createChatButton {
        border: none;
        background-color: var(--blue);
        color: #fff;
        padding: 0.5rem 1.2rem;
        margin: 0.7rem auto;
        border-radius: 2.2rem;

        &:disabled {
            background-color: var(--grayLight);
            color: var(--grayText)
        }
    }
}

//chat page

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-basis: 0;
    

    .chatTitleBarContainer {
        border-bottom: 1px solid var(--grayLight);
        display: flex;
        align-items: center;
        min-height: 4rem;
        padding: 0.7rem;

        #chatName {
            width: 100%;
            border: 1px solid transparent;
            padding: 0 0.4rem;

            &:hover {
                border: 1px solid #e9e9e9;
                cursor: text;
            }
        }
    }

    .mainContentContainer {
        position: relative;
        display: flex;
        flex: 1;
        overflow-y: hidden;
        // max-height: 100%;

        .chatContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            position:relative;
            overflow-y: auto;
            // height:100%;
            .chatMessages {
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: var(--spacing);
                .message {
                    position: relative;
                    padding-bottom: 0.13rem;
                    list-style: none;
                    display: flex;
                    align-items: flex-end;
                    flex-shrink: 0;
                    flex: 0;

                    .imageContainer {
                        height: 1.5rem;
                        width: 1.5rem;
                        margin-right: 0.5rem;

                        img {
                            height: 100%;
                            border-radius: 50%;
                            vertical-align: bottom;
                        }
                    }

                    .messageContainer {
                        display: flex;
                        flex-direction: column;
                        max-width: 55%;

                        .senderName {
                            color: rgba(0, 0, 0, 0.4)
                        }
                        .typingDots img,
                        .messageBody {
                            background-color: #f1f0f0;
                            padding: 0.4rem 0.8rem;
                            border-radius: 18px;
                            font-size: 0.9rem;
                        }

                    }

                    &.last {
                        margin-bottom: 0.4rem;
                    }

                    &.mine {
                        flex-direction: row-reverse;

                        .messageContainer {
                            align-items: flex-end;
                        }

                        .messageBody {
                            background-color: var(--blue);
                            color: #fff;
                        }

                        &.first {
                            .messageBody {
                                border-bottom-right-radius: 2px;
                            }
                        }

                        &.last {
                            .messageBody {
                                border-bottom-right-radius: 18px;
                            }
                        }

                        &:not(.first):not(.last) {
                            .messageBody {
                                border-bottom-right-radius: 2px;
                                border-top-right-radius: 2px;
                            }
                        }

                        &.last:not(.first) {
                            .messageBody {
                                border-top-right-radius: 2px;
                            }
                        }

                    }

                    &.theirs {
                        .messageContainer {
                            align-items: flex-start;
                        }

                        &.first {
                            .messageBody {
                                border-bottom-left-radius: 2px;
                            }
                        }

                        &.last {
                            .messageBody {
                                border-bottom-left-radius: 18px;
                            }
                        }

                        &:not(.first):not(.last) {
                            .messageBody {
                                border-bottom-left-radius: 2px;
                                border-top-left-radius: 2px;
                            }
                        }

                        &.last:not(.first) {
                            .messageBody {
                                border-top-left-radius: 2px;
                            }
                        }

                    }

                }
            }
            .typingDots{
                padding: 0 var(--spacing);
                display: none;
                img{
                    height:10vh;

                }
            }

            .footer {
                display: flex;
                padding: var(--spacing);

                button {
                    background-color: transparent;
                    color: var(--blue);
                    font-size: 1.5rem;
                }

                textarea {
                    flex: 1;
                    resize: none;
                    background-color: rgba(0, 0, 0, 0.05);
                    border-radius: 18px;
                    height: 2.1rem;
                    padding: 0.2rem 0.8rem;
                    border: none;
                }
            }

        }
    }

    .chatImagesContainer {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        margin-right: 1rem;

        .usersCount {
            color: var(--grayText);
            height: 2.1rem;
            width: 2.1rem;
            background-color: #f1f1f1;
            border-radius: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
            border: 2px solid #fff;
            font-weight: bold;
            margin-left: -0.5rem;
        }

        img {
            width: 2.1rem;
            height: 2.1rem;
            border: 3px solid #fff;
            border-radius: 50%;

            &:not(:last-child) {
                margin-left: -0.5rem;
            }

        }
    }

    #chatNameTextBox {
        width: 100%;
    }
}




//universal attributes

.loadingSpinnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img{
        width: 50%;
        max-width: 20rem;
    }
}