mixin   createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's good in the hood?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post